<div class= 'container fase2 mt-4'>
  <div class="container_content">
  <div class="container_content_inner">
  <div class="title">
    <h1>Bienvenido a SocialBook</h1>
  </div>
  <div class="par">
  <p>
     Un lugar donde podrás encontrar
     libros que te enamoren, te hagan disfrutar más de la vida
      y te enriquezcan con conocimiento. Y también podrás dar tu opinión sobre tus libros preferidos y leer la de otros.

  </p>
  </div>
  <div class="btns">

  </div>
  </div>
  </div>
   <div class="container_outer_img">
   <div class="img-inner">
   <img src='https://img.freepik.com/vector-gratis/ilustracion-literatura-dibujada-mano_23-2149264101.jpg'  alt="" class="container_img2"/>
         </div>
       </div>
    </div>
<mat-divider></mat-divider>
    <div class= 'container flex flex-row-reverse fase2 mt-4'>
      <div class="container_content">
      <div class="container_content_inner">
      <div class="title">
        <h1>Para comenzar</h1>
      </div>
      <div class="par">
      <p>
        Para poder comenzar a descubrir libros, lo único que tienes que hacer es crearte una cuenta o iniciar sesión y empezar a explorar.     </p>
      </div>
      <div class="btns">
      <button class='btns_more'> Crear cuenta </button>
      </div>
      </div>
      </div>
       <div class="container_outer_img">
       <div class="img-inner flex justify-content-center">
       <img src='https://st2.depositphotos.com/6464944/44118/v/450/depositphotos_441189638-stock-illustration-people-enjoying-narration-reading-literature.jpg'  alt="libro" class="container_img"/>
             </div>
           </div>
        </div>

  <div class="overlay"></div>
